<header id="inicio">
    <link rel='stylesheet' href='/stylesheets/style.css'/> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <div class="header-content">
    <div class="logo">
        <h1 id="nombre-org"><img id="foto-org" src="/img/logoUCM.png" alt="logo de la UCM">UCM-<r>RIU</r></h1>
    </div>
    <div>
        <nav class="container navbar navbar_default">
            <div class="nav-desplegable">
                <!--Icono de menu hamburguesa-->
                <button type="button" class="navbar-toggler" >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>   
            <!--Barra de navegacion desplegable -->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav " id="collapse-navi">
                    <li class="nav-item"><a href="/#inicio">Inicio</a></li>
                    <li class="nav-item"><a href="/#instalaciones">Instalaciones</a></li>
                    <% if (isAuthenticated) { %>
                        <li class="nav-item"><a href="/mensajes">Mensajes</a></li>
                    <% } %>
                    <li class="nav-item" id="user-menu">
                        <% if (isAuthenticated) { %>
                            <a class="nav-link" href="#"><%= currentUser %></a>
                            <ul class="navbar-nav" id="user-menu-list">
                                <li class="nav-item"><a href="/profile">Perfil</a></li>
                                <%if(isAdmin){%>
                                    <li class="nav-item"><a href="/user">Gestionar Usuarios</a></li>
                                    <li class="nav-item"><a href="/instalaciones">Gestionar Instalaciones</a></li>
                                    <li class="nav-item"><a href="/stats">Ver estadísticas</a></li>
                                    <li class="nav-item" id="linkConfig2"></li><a href="">Configuracion del sistema</a></li>
                                
                                    <%}%>
                                <li class="nav-item"></li><a href="/logout">Logout</a></li>
                            </ul>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
            <!--Barra de navegacion normal-->
            <div id="cnt-navi">
                <ul class="navi">
                    <li><a href="/#inicio">Inicio</a></li>
                    <li><a href="/#instalaciones">Instalaciones</a></li>
                    <% if (isAuthenticated) { %>
                        <li><a href="/mensajes">Mensajes</a></li>
                    <% } %>
                    <li id="user-menu-2">
                        <% if (isAuthenticated) { %>
                            <a href="#" id="link-imagen">                               
                                <img src="/img/users/default.png" alt="<%= currentUser %>" id="user-img">
                            </a>
                            <ul class="navbar-nav" id="user-menu-list-2">
                                <li><a href="/profile">Perfil</a></li>
                                <%if(isAdmin){%>
                                    <li ><a href="/user">Gestionar Usuarios</a></li>
                                    <li ><a href="/instalaciones">Gestionar Instalaciones</a></li>
                                    <li ><a href="/stats">Ver estadísticas</a></li>
                                    <li id="linkConfig"><a href="">Configuracion del sistema</a></li>
                                <%}%>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        <% } else { %>
                            <a href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>    
            <div id="ctn-icon-search">
                <i class="bi bi-search" id="icon-search"></i>
            </div>
        </nav>
    </div>
</header>

<div id="ctn-bars-search">
    <input type="text" id="inputSearch" placeholder="Buscar...">
</div>
<ul id="box-search">
   
</ul>
<div id="cover-ctn-search"></div>


<!-- Ventana modal crear isntalación -->
<div id="confuguracion-sistema-modal" class="modal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuración del Sistema</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="file-upload-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="file" class="form-label">Icono Organización</label>
                        <input type="file" id="file-input" name="file-input" accept=".png">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre de la Organización</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required value="<%= FormData.nomapellido2bre || '' %>">
                    </div>  
                    <button type="button" class="btn btn-primary" id="submit-file-btn" onclick="configurarSistema()">Aplicar cambios</button>      
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    //Carga de la barra de búsqueda
    $(document).ready(function () {
        $.ajax({
            url: '/buscarTipos',
            type: 'POST',
            success: function (data) {
                var box_search = $('#box-search');
                box_search.empty();
                for (var i = 0; i < data.length; i++) {
                    box_search.append('<li><a href="/instalaciones/' + data[i].tipo + '">' + data[i].tipo + '</a></li>');
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });


        //Funcion para configurar el sistema
        function configurarSistema(){
            var formData = new FormData();
            var nuevo_nombre = $('#nombre').val();
            formData.append('nombre', nuevo_nombre);
            formData.append('file', $('#file-input')[0].files[0]);
            console.log(formData);
            $.ajax({
                url: '/configurar-sistema',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {

                    location.reload();
                },
                error: function (error) {
                    console.log("MAAAAAAAAAAAAL");
                    console.log(xhr.responseText);
                    console.log(error);
                }
            });
        }

        //Funcion para abrir la ventana modal de configuracion del sistema
        $('#linkConfig').on("click", function (e) {
            e.preventDefault();
            $('#confuguracion-sistema-modal').show();
        });

         //Funcion para abrir la ventana modal de configuracion del sistema navbar
         $('#linkConfig2').on("click", function (e) {
            e.preventDefault();
            $('#confuguracion-sistema-modal').show();
        });

        // Agrega un evento de clic para cerrar la ventana modal cuando se hace clic en la "x"
        $('.btn-close').on("click", function () {
            $('#confuguracion-sistema-modal').hide();
        });

    var userMenuList = $('#user-menu-list');
    $('#user-menu-list').hide();
    // Mostrar u ocultar la lista al hacer clic en el nombre del usuario
    $('#user-menu').on("click", function () {
        if (userMenuList.is(':visible')) {
            userMenuList.hide();
        } else {
            userMenuList.show();
        }
    });
    // Cerrar la lista si se hace clic en algún enlace dentro de la lista
    $('#user-menu-list a').on("click", function () {
        userMenuList.hide();
    });
    //Lo mismo pero para el que esta en parte de arriba
    var userMenuList2 = $('#user-menu-list-2');
    $('#user-menu-list-2').hide();
    // Mostrar u ocultar la lista al hacer clic en el nombre del usuario
    $('#user-menu-2').on("click", function () {
        if (userMenuList2.is(':visible')) {
            userMenuList2.hide();
        } else {
            userMenuList2.show();
        }
    });
    // Cerrar la lista si se hace clic en algún enlace dentro de la lista
    $('#user-menu-list-2 a').on("click", function () {
        userMenuList2.hide();
    });
    //Foto de perfil
    var link_imagen = $('#link-imagen');
    $.ajax({
        url: '/user-photo',
        type: 'POST',
        success: function (data) {
            if (data.foto == null) {
                link_imagen.html('<img src="/img/users/default.png" alt="<%= currentUser %>" id="user-img"> ');
            } else {
                link_imagen.html('<img src="/img/users/'+data.foto + '" alt="<%= currentUser %>" id="user-img">');
            }
        },
        error: function (error) {
            console.log(error);
        }
    });
    
      $('.navbar-toggler').click(function(){
       if($('.collapse').hasClass('show')){
           $('.collapse').removeClass('show');
         }else{
           $('.collapse').addClass('show');
         }
    })
    //Ejecutando funciones
   document.getElementById("icon-search").addEventListener("click", mostrar_buscador);
   document.getElementById("cover-ctn-search").addEventListener("click", ocultar_buscador);

   //Declarando variables
   bars_search = document.getElementById("ctn-bars-search");
   cover_ctn_search = document.getElementById("cover-ctn-search");
   inputSearch = document.getElementById("inputSearch");
   box_search = document.getElementById("box-search");


   //Funcion para mostrar el buscador
   function mostrar_buscador(){
       bars_search.style.top = "60px";
       cover_ctn_search.style.display = "block";
       inputSearch.focus();

       if (inputSearch.value === ""){
           box_search.style.display = "none";
       }
   }

   //Funcion para ocultar el buscador
   function ocultar_buscador(){
       bars_search.style.top = "-10px";
       cover_ctn_search.style.display = "none";
       inputSearch.value = "";
       box_search.style.display = "none";
   }
   //Creando filtrado de busqueda
    $("#inputSearch").on("keyup", buscador_interno);      
  

   function buscador_interno(){
       filter = inputSearch.value.toUpperCase();
       li = box_search.getElementsByTagName("li");

       //Recorriendo elementos a filtrar mediante los "li"
       for (i = 0; i < li.length; i++){
           a = li[i].getElementsByTagName("a")[0];
           textValue = a.textContent || a.innerText;

           if(textValue.toUpperCase().indexOf(filter) > -1){
               li[i].style.display = "";
               box_search.style.display = "block";

               if (inputSearch.value === ""){
                   box_search.style.display = "none";
               }
           }else{
               li[i].style.display = "none";
           }
       }
   }  
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


