<header id="inicio">
    <link rel='stylesheet' href='/stylesheets/style.css'/> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <div class="header-content">
    <div class="logo">
        <h1>UCM <r>RIU</r></h1>
    </div>
    <div>
        <nav class="container navbar navbar_default">
            <div class="nav-desplegable">
                <!--Icono de menu hamburguesa-->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>   
            <!--Barra de navegacion desplegable -->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav " id="collapse-navi">
                    <li class="nav-item"><a href="/#inicio">Inicio</a></li>
                    <li class="nav-item"><a href="/#instalaciones">Instalaciones</a></li>
                    <% if (isAuthenticated) { %>
                        <li class="nav-item"><a href="/mensajes">Mensajes</a></li>
                    <% } %>
                    <li class="nav-item" id="user-menu">
                        <% if (isAuthenticated) { %>
                            <a class="nav-link" href="#"><%= currentUser %></a>
                            <ul class="navbar-nav" id="user-menu-list">
                                <li class="nav-item"><a href="/profile">Perfil</a></li>
                                <%if(isAdmin){%>
                                    <li class="nav-item"><a href="/admin/user">Gestionar Usuarios</a></li>
                                    <li class="nav-item"><a href="/admin">Gestionar Instalaciones</a></li>
                                    <li class="nav-item"><a href="/admin">Ver estadísticas</a></li>
                                <%}%>
                                <li class="nav-item"></li><a href="/logout">Logout</a></li>
                            </ul>
                        <% } else { %>
                            <a class="nav-link" href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
            <!--Barra de navegacion normal-->
            <div id="cnt-navi">
                <ul class="navi">
                    <li><a href="/#inicio">Inicio</a></li>
                    <li><a href="/#instalaciones">Instalaciones</a></li>
                    <% if (isAuthenticated) { %>
                        <li><a href="/mensajes">Mensajes</a></li>
                    <% } %>
                    <li id="user-menu-2">
                        <% if (isAuthenticated) { %>
                            <a href="#" id="link-imagen">                               
                                <img src="./img/users/default.png" alt="<%= currentUser %>" id="user-img">
                            </a>
                            <ul class="navbar-nav" id="user-menu-list-2">
                                <li><a href="/profile">Perfil</a></li>
                                <%if(isAdmin){%>
                                    <li ><a href="/admin/user">Gestionar Usuarios</a></li>
                                    <li ><a href="/admin">Gestionar Instalaciones</a></li>
                                    <li ><a href="/admin">Ver estadísticas</a></li>
                                <%}%>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        <% } else { %>
                            <a href="/login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>    
            <div id="ctn-icon-search">
                <i class="bi bi-search" id="icon-search"></i>
            </div>
        </nav>
    </div>
</header>

<div id="ctn-bars-search">
    <input type="text" id="inputSearch" placeholder="Buscar...">
</div>
<ul id="box-search">
    <li><a href="/reserva/Laboratorios"><i class="bi bi-search"></i>Laboratorios</a></li>
    <li><a href="/reserva/Salas de grados"><i class="bi bi-search"></i>Salas de grados</a></li>
    <li><a href="/reserva/Salón de actos"><i class="bi bi-search"></i>Salón de actos</a></li>
    <li><a href="/reserva/Salas de reunión"><i class="bi bi-search"></i>Salas de reunión</a></li>
</ul>
<div id="cover-ctn-search"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>
        var userMenuList = $('#user-menu-list');
        $('#user-menu-list').hide();
        // Mostrar u ocultar la lista al hacer clic en el nombre del usuario
        $('#user-menu').on("click", function () {
            if (userMenuList.is(':visible')) {
                userMenuList.hide();
            } else {
                userMenuList.show();
            }
        });
        // Cerrar la lista si se hace clic en algún enlace dentro de la lista
        $('#user-menu-list a').on("click", function () {
            userMenuList.hide();
        });
</script>

<script>
        //Lo mismo pero para el que esta en parte de arriba
        var userMenuList2 = $('#user-menu-list-2');
        $('#user-menu-list-2').hide();
        // Mostrar u ocultar la lista al hacer clic en el nombre del usuario
        $('#user-menu-2').on("click", function () {
            if (userMenuList2.is(':visible')) {
                userMenuList2.hide();
            } else {
                userMenuList2.show();
            }
        });
        // Cerrar la lista si se hace clic en algún enlace dentro de la lista
        $('#user-menu-list-2 a').on("click", function () {
            userMenuList2.hide();
        });
</script>

<script>
    console.log("hola")
    //Foto de perfil
    var link_imagen = $('#link-imagen');
    $.ajax({
        url: '/user-photo',
        type: 'POST',
        success: function (data) {
            console.log(data)
            if (data.foto == null) {
                //$('#aux').html('<img src="./img/users/default.png" alt="<%= currentUser %>" >');
                link_imagen.html('<img src="img/users/default.png" alt="<%= currentUser %>" id="user-img"> ');
            } else {
                link_imagen.html('<img src="./img/users/'+data.foto + '" alt="<%= currentUser %>" id="user-img">');
            }
        },
        error: function (error) {
            console.log(error);
        }
    });
    
</script>

<script>
    //Ejecutando funciones
   document.getElementById("icon-search").addEventListener("click", mostrar_buscador);
   document.getElementById("cover-ctn-search").addEventListener("click", ocultar_buscador);

   //Declarando variables
   bars_search = document.getElementById("ctn-bars-search");
   cover_ctn_search = document.getElementById("cover-ctn-search");
   inputSearch = document.getElementById("inputSearch");
   box_search = document.getElementById("box-search");


   //Funcion para mostrar el buscador
   function mostrar_buscador(){
       bars_search.style.top = "60px";
       cover_ctn_search.style.display = "block";
       inputSearch.focus();

       if (inputSearch.value === ""){
           box_search.style.display = "none";
       }
   }

   //Funcion para ocultar el buscador
   function ocultar_buscador(){
       bars_search.style.top = "-10px";
       cover_ctn_search.style.display = "none";
       inputSearch.value = "";
       box_search.style.display = "none";
   }
   //Creando filtrado de busqueda

   document.getElementById("inputSearch").addEventListener("keyup", buscador_interno);

   function buscador_interno(){
       filter = inputSearch.value.toUpperCase();
       li = box_search.getElementsByTagName("li");

       //Recorriendo elementos a filtrar mediante los "li"
       for (i = 0; i < li.length; i++){
           a = li[i].getElementsByTagName("a")[0];
           textValue = a.textContent || a.innerText;

           if(textValue.toUpperCase().indexOf(filter) > -1){
               li[i].style.display = "";
               box_search.style.display = "block";

               if (inputSearch.value === ""){
                   box_search.style.display = "none";
               }
           }else{
               li[i].style.display = "none";
           }
       }
   }  
</script>


