<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mensajes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/mensajes.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include("header") %>  
    <div id="ctn-cuadro-mensajes">
       <!--Chat con otro usuario-->
       <div class="row" >
            <div class="col-md-4" id="ctn-lista">
                <!--Empezar una nueva conversación-->
                <!--Buscar una conversacion-->
                <div id="ctn-lista-chats">
                    <div id="ctn-barra-chats">
                        <input type="text" id="searchInput" placeholder="Buscar chat">
                    </div>
                    <!--Lista de usuarios-->
                    <ul id="lista-chat">         
                    <% for (let i = 0; i < listaUsuarios.length; i++) { %>
                        <li class="chat">
                            <a href="" id="<%= listaUsuarios[i] %>">                       
                                <img src="img/users/<%= fotoUsuario[i]%>" alt="<%= fotoUsuario[i]%>">                    
                                <%= listaUsuarios[i] %>                        
                            </a>
                        </li>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-md-8" id="ctn-chat">
                <h4 id="usuario-seleccionado"><%=listaUsuarios[0]%></h4>
                <ul id="ctn-mensajes">
                    <!--Se carga los mensajes del último chat en el que se ha hablado-->
                    <% for (var i = 0; i < mensajes.length; i++) { %>
                        <% if (mensajes[i].correoEmisor == listaUsuarios[0]) { %>
                            <li class="mensaje-recibido">                                                           
                                <p><%= mensajes[i].mensaje %></p>                              
                            </li>
                        <% } else if (mensajes[i].correoReceptor == listaUsuarios[0]) { %>
                            <li class="mensaje-enviado">                            
                                <p><%= mensajes[i].mensaje %></p>                                
                            </li>
                        <% } %>
                    <% } %>
                    
                </ul>                    
                <div id="ctn-enviar-mensaje">
                    <input type="text" id="mensaje" name="mensaje" placeholder="Escribe un mensaje...">
                    <button type="submit"  class="btn btn-primary" id="boton">Enviar</button>
                </div>            
            </div>
       </div>
    </div>
    <%- include("footer") %>
    <script>
        //Función para mostrar el chat con el usuario seleccionado cuando se haga click en un usuario
        function cargarMensajes(e){
            e.preventDefault();
            //Obtenemos el correo del usuario seleccionado
            var usuario = $(this).text().trim();
            //Obtenemos los mensajes del usuario seleccionado
            $.ajax({
                url: '/cargarMensajes',
                type: 'POST',
                data: {usuario: usuario},
                success: function(mensajes){                   
                    $('#usuario-seleccionado').text(usuario);
                    //Vaciamos el contenedor de mensajes
                    $("#ctn-mensajes").empty();
                    //Añadimos los mensajes del usuario seleccionado a la página
                    for (var i = 0; i < mensajes.length; i++) {
                        if (mensajes[i].correoEmisor == usuario) {
                            $("#ctn-mensajes").append('<li class="mensaje-recibido"><p>'+mensajes[i].mensaje+'</p></li>');
                        } else if (mensajes[i].correoReceptor == usuario) {
                            $("#ctn-mensajes").append('<li class="mensaje-enviado"><p>'+mensajes[i].mensaje+'</p></li>');
                        }
                    }
                }
            });
        }
        //Llamamos a la función cuando se haga click en un usuario
        $("#lista-chat a").click(cargarMensajes);

        //Función para enviar un mensaje
        $('#boton').click(function(e){
            e.preventDefault();
            //Obtenemos el mensaje
            var mensaje = $('#mensaje').val();
            //Obtenemos el correo del usuario seleccionado
            var correoReceptor = $("#usuario-seleccionado").text();
            //Enviamos el mensaje
            $.ajax({
                url: '/enviarMensaje',
                type: 'POST',
                data: {mensaje: mensaje, correoReceptor: correoReceptor},
                success: function(results){
                    if(results){
                        //Recargamos la página
                        location.reload();
                    }
                }
            });
        });

        $(document).ready(function() {
            // Obtén el contenedor
            var contenedorChats = $('#ctn-mensajes');

            // Configura la posición del desplazamiento al valor máximo
            contenedorChats.scrollTop(contenedorChats.prop('scrollHeight'));
        });
                
        //Filtlar los chats abiertos
        inputSearch = document.getElementById("searchInput");
        box_search = document.getElementById("lista-chat");
        document.getElementById("searchInput").addEventListener("keyup", buscador_interno);

        function buscador_interno(){
            filter = inputSearch.value.toUpperCase();
            li = box_search.getElementsByTagName("li");

            //Recorriendo elementos a filtrar mediante los "li"
            for (i = 0; i < li.length; i++){
                a = li[i].getElementsByTagName("a")[0];
                textValue = a.textContent || a.innerText;

                if(textValue.toUpperCase().indexOf(filter) > -1){
                    li[i].style.display = "";
                    box_search.style.display = "block";
                }else{
                    li[i].style.display = "none";
                }
            }
        }  
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
    
   