<!DOCTYPE html>
<html lang="es">
<head>
    <title>Perfil de Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel='stylesheet' href='/stylesheets/profile.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include("header") %>
    
    <div class="cnt-cuadro">
        <div class="cnt-login"><h2>Perfil de Usuario</h2></div>
        
        <div id="profile-info">
            <div class="profile-container" id="profile-image-container">
                <div class="profile-container" id="profile-image-container">
                    <% if(usuario.foto) { %>
                        <div class="image-wrapper">
                            <img src="img/users/<%=usuario.foto%>" alt="<%= usuario.correo %>" id="profile-image" class="profile-image">
                            <p id="change-photo-msg" class="photo-msg" style="display: none; cursor: pointer;">Cambiar foto de perfil</p>
                        </div>
                    <% } else { %>
                        <div class="image-wrapper">
                            <img src="img/users/default.png" alt="<%= usuario.correo %>" id="profile-image" class="profile-image">
                            <p id="change-photo-msg" class="photo-msg" style="display: none; cursor: pointer;">Cambiar foto de perfil</p>
                        </div>
                    <% } %>
                </div>
            </div>
            <p>Nombre: <%= usuario.nombre %></p>
            <p>Primer Apellido: <%= usuario.apellido1 %></p>
            <p>Segundo Apellido: <%= usuario.apellido2 %></p>
            <p>Correo: <%= usuario.correo %></p>
        </div>
    </div>
 
    


    <button id="edit-profile-btn" class="btn btn-primary">Editar Perfil</button>

    <div class="cnt-cuadro" id="edit-profile-form" style="display: none;">
        <div class="cnt-login"><h2>Editar Perfil</h2></div>
        
        <form action="/edit-profile" method="post" id="formulario">
            <div id="cnt-credencial">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required value="<%= FormData.nombre || usuario.nombre %>">
            </div>
            <div id="cnt-credencial">
                <label for="apellido1">Primer Apellido:</label>
                <input type="text" id="apellido1" name="apellido1" required value="<%= FormData.apellido1 || usuario.apellido1 %>">
            </div>
            <div id="cnt-credencial">
                <label for="apellido2">Segundo Apellido:</label>
                <input type="text" id="apellido2" name="apellido2" value="<%= FormData.nomapellido2bre || usuario.apellido2 %>">
            </div>  
            <div id="cnt-credencial">
                <label for="correo">Correo:</label>
                <input type="text" id="correo" name="correo" required value="<%= FormData.correo || usuario.correo %>">
            </div>    
            <div id="cnt-credencial">   
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div id="cnt-credencial">   
                <label for="password">Repite la contraseña:</label>
                <input type="password" id="password2" name="password" required>
            </div>
     
            <button type="submit"  class="btn btn-primary" id="boton">Editar</button>
        </form>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
        <script>
            $(document).ready(function() {
                var editProfileBtn = $('#edit-profile-btn');
                var editProfileForm = $('#edit-profile-form');
    
                editProfileBtn.click(function() {
                    editProfileForm.toggle();
                });
            });
        </script>

        <script>
            $(document).ready(function() {     
                $('#profile-image-container').hover(
                    function() {
                        $('#change-photo-msg').show();
                    },
                    function() {
                        $('#change-photo-msg').hide();
                    }
                );     
                // Cambiar la foto de perfil al hacer clic en la imagen
                $('#change-photo-msg').click(function() {
                    cambiarFotoPerfil();
                });
            });
            function cambiarFotoPerfil() {
            alert("Funcionalidad no implementada");
            // Aquí puedes agregar la lógica para cambiar la foto de perfil
        }
    </script>

    <%- include("footer") %>

</body>
</html>
