<!DOCTYPE html>
<html lang="es">
<head>
    <title>Reserva de <%=tipo_ins.tipo%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reserva.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <%- include("header") %>     
    <div class="container compensacion-lateral" id="ctn-carrusel">
        <div class="row">
        <!--La primera columna es el carrusel de imagenes-->
            <div class="col-md-8">
                <div class="container">
                    <div id="imagenCarousel" class="carousel slide" data-bs-ride="carousel">
                    <!--Las imagenes del carrusel-->
                    <div class="carousel-inner">                  
                        <div class="carousel-item active">
                            <img src="/img/<%= imagenes[0].nombre_imagen %>" class="card img-fluid mx-auto" alt="<%=imagenes[0].nombre_ins%>">
                        </div>                
                    </div>
                    <!--Botones de control del carrusel-->
                    <a class="carousel-control-prev" href="#imagenCarousel" role="button" data-bs-slide="prev" style="width: 10%;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>                
                    </a>
                    <a class="carousel-control-next" href="#imagenCarousel" role="button" data-bs-slide="next" style="width: 10%;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>                    
                    </a>
                    </div>
                </div>
            </div>
            <!--La segunda columna es la descripción del destino-->
            <div class="col-md-4">
                <div class="container" id="descripcionInstalacion">
                    <h5 id="tipoIns"><%=tipo_ins.tipo%></h5>
                    <p><%=tipo_ins.descripcion%></p>
                    <p>Está abierto de <%=tipo_ins.hora_de_apertura%> a <%=tipo_ins.hora_de_cierre%>, con un aforo máximo de <%=tipo_ins.aforo%> personas.</p>
                    <p>Para reservar, empiece selecionando la facultad.</p>  
                    <!-- Formulario de reserva -->
                    <form id="reservaForm" action='/reservar' method="post" >     
                        <!-- Campos ocultos -->  
                        <input type = "hidden" name = "tipo_ins" value="<%=tipo_ins.tipo%>">

                        <!--Primero selecciona la facultad en la que quiere reservar-->
                        <div class="form-group" id="facultadCampo">
                            <label for="facultades">Facultad:</label>
                            <select class="form-control" id="facultad" name="facultad">
                                <option value="" disabled selected>Selecciona una facultad</option>
                                <option value="Informática">Informática</option>
                                <option value="Biología">Biología</option>
                                <option value="Información">Información</option>
                            </select>
                        </div>
                        <!-- Aparecerán después de seleccionar la facultad -->
                        <!--Eligirá la instalacion que se quiera reservar-->
                        <div class="form-group d-none" id="instalacionCampo">
                            <label for="instalaciones">Instalación</label>
                            <select class="form-control" id="instalaciones" name="instalacion" required>
                            </select>
                        </div>
                        <!--Eligirá el día y la hora que se quiera reservar-->
                        <div class="form-group d-none" id="fechaCampo">
                            <label for="fecha">Selecciona el día</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" required>
                        </div>
                        <div class="form-group d-none" id="horaCampo" >
                            <label for="hora">Hora</label>
                            <select class="form-control" id="hora" name="hora" required>
                                <option value="" disabled selected>Selecciona primero la fecha</option>
                            </select>
                        </div>
                        <!-- Botón "Aceptar" -->
                        <button type="submit" class="btn btn-primary d-none" id="aceptarB">Aceptar</button>
                        
                        <!-- Mostrar mensaje de éxito -->
                        <% if (reservaExitosa) { %>
                        <div class="alert alert-success" role="alert">
                            Su reserva se ha realizado con éxito. ¡Gracias!
                        </div>
                        <% } %>                        
                        <!-- Mostrar mensajes de error -->
                        <% if (errors && errors.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                            <% errors.forEach(error => { %>
                                <li><%= error.msg %></li>
                            <% }); %>
                            </ul>
                        </div>
                        <% } %>        
                    </form>        
                </div>
            </div>
        </div>
    </div>
    
    <!--Funcionamiento del boton mostrar-->
    <script>
        $('#facultad').change(function() {
           //Asignamos el valor de la facultad seleccionada al campo oculto
            var facultad = $('#facultad').val();
            //Obtenemos las instalaciones de la facultad seleccionada y hacemos visible el resto del formulario
            obtenerInstalaciones(facultad);
            $('#instalacionCampo').removeClass('d-none');
            $('#fechaCampo').removeClass('d-none');
            $('#horaCampo').removeClass('d-none');
            $('#aceptarB').removeClass('d-none');
        });

        var tipo_ins = $("#tipoIns").text();
        //Obtenemos las instalaciones de la facultad seleccionada
        function obtenerInstalaciones(facultad){
            $.ajax({
                url: '/instalaciones',
                type: 'POST',
                data: {facultad: facultad, tipo: tipo_ins},
                success: function(response){
                    let instalaciones = response;
                    let template = '<option value="" disabled selected>Selecciona una instalación</option>';
                    //Obtenemos las instalaciones de la facultad seleccionada con el tipo seleccionado
                    instalaciones.forEach(instalacion => {
                        template += `
                            <option value="${instalacion.nombre}">${instalacion.nombre}</option>
                        `
                    });
                    //Añadimos las instalaciones al select
                    $('#instalaciones').html(template);
                }
            });
        }

        //Obtenemos las horas disponibles una vez selecciona el día
        $("#fecha").change(function(){
            //Obtenemos los datos necesarios para la consulta
            var fecha = $("#fecha").val();
            var facultad = $("#facultad").val();
            var instalacion = $("#instalaciones").val();
            var tipo_ins = $("#tipoIns").text();
            
            $.ajax({
                url: '/horasDisponibles',
                type: 'POST', 
                data: {fecha: fecha, instalacion: instalacion, tipo_ins:tipo_ins, facultad:facultad},
                success: function(response){
                    let horas = response;
                    if(horas == null || horas.length == 0){
                        $("#hora").html('<option value="" disabled selected>No hay horas disponibles</option>');
                        return;
                    }
                    let template = '<option value="" disabled selected>Selecciona la hora</option>';
                    horas.forEach(hora => {
                        template += `
                            <option value="${hora}">${hora}</option>
                        `
                    });
                    $('#hora').html(template);
                }
            });
        });
        
        // Verifica si hay errores o éxito al cargar la página y muestra el formulario si es necesario
        var errorsExist = document.querySelector('.alert-danger');
        var successExist = document.querySelector('.alert-success');
        
        if (errorsExist || successExist) {
            reservaForm.classList.remove('d-none');
        };
    </script>
   
    <%- include("footer") %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
    
   